<div appGreenBackground>
<div >
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi libero odio tempora quia, maiores dolorem incidunt a? Rerum, laboriosam excepturi.
</div>
<div >
  <h1>
    Angular project
  </h1>
</div>
<ul>
  <li *ngFor="let i of user">
    {{i}}
  </li>
</ul>

<router-outlet></router-outlet>
<button (click)="sendmsg()">sendd</button>

<div>
  <h1>Welcome to the {{ environment }} Environment</h1>
  <p>API URL: {{ apiUrl }}</p>
  <div>
    <!-- Add any additional content or dynamic data based on environment -->
    <p>Current Environment: {{ environment }}</p>
  </div>
</div>
